# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Visual Studio Files
.vs
Debug
Release
bin
*.suo
*.csproj.user
*.vbproj.user
*.vcxproj
*.vscxproj.filters
*.vcxproj.users
ipch
*sdf

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app